<!DOCTYPE html>
<html lang="en">
    <!--head display-->
    <%- include('./partials/head.ejs') %>
<body>

<%- include('./partials/nav.ejs') %>

<div class="container-fluid mt-3">
    <h2>All Blogs</h2>
    <% if (zblog.length > 0) {%>
        <% zblog.forEach(zblog => { %>
            <h3 class="title"><%= zblog.title %></h3>
            <p class="snippet"><%= zblog.snippet %></p>
        <% }) %>
    <% } else { %>
            <p>There are no blogs to display...</p>
        <% } %>
</div>

<!--footer display-->
<%- include('./partials/footer.ejs') %>
</body>
</html>


